{% extends 'base.html' %}
{% load format_school %}
{% block title %}
Home
{% endblock %}
{% block content %}
  <h1>Today's Games</h1>
  <br/>
  <table class="table table-bordered table-hover">
      <thead class="thead-dark">
          <tr>
              <th>Away</th>
              <th>Home</th>
          </tr>
      </thead>
      <tbody>
          {% for game in games %}
              <tr>
                  <td><a href="schools/{{game.away.id}}">{{ game.away.name|format_school }}</a></td>
                  <td><a href="schools/{{game.home.id}}">{{ game.home.name|format_school }}</a></td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endblock %}