<!DOCTYPE html>
{% load format_school %}
<html>
  <head>
    <meta charset="utf-8">
    <title>CBBStats</title>
  </head>
  <body>
    <h1>Today's Games</h1>
    <table>
        <thead>
            <tr>
                <th>Away</th>
                <th>Home</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td><a href="schools/{{game.away.id}}">{{ game.away.name|format_school }}</a></td>
                    <td><a href="schools/{{game.home.id}}">{{ game.home.name|format_school }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>