{% extends 'base.html' %}
{% load format_school %}
{% load get_school %}
{% load get_player_school %}
{% block title %}
{{ player.name }}
{% endblock %}
{% block content %}
    <h1>{{ player.name }} | <a href="../schools/{{player.id|get_player_school}}">{{ player.id|get_player_school|format_school }}</a></h1>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Season</th>
                <th>School</th>
                <th>Games</th>
                <th>MPG</th>
                <th>PPG</th>
                <th>RPG</th>
                <th>APG</th>
                <th>SPG</th>
                <th>BPG</th>
                <th>FG%</th>
                <th>3P%</th>
                <th>FT%</th>
            </tr>
        </thead>
        <tbody>
            {% for season in seasonStats %}
                <tr>
                    <td><a href="../schools/{{ season.school_id }}/{{ season.season }}">{{ season.season }}</a></td>
                    <td><a href="../schools/{{ season.school_id }}">{{ season.school }}</a></td>
                    <td>{{ season.games }}</td>
                    <td>{{ season.MPG }}</td>
                    <td>{{ season.PPG }}</td>
                    <td>{{ season.RPG }}</td>
                    <td>{{ season.APG }}</td>
                    <td>{{ season.SPG }}</td>
                    <td>{{ season.BPG }}</td>
                    <td>{{ season.FGP }}</td>
                    <td>{{ season.TPP }}</td>
                    <td>{{ season.FTP }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>Career</td>
                <td></td>
                <td>{{ careerStats.games }}</td>
                <td>{{ careerStats.MPG }}</td>
                <td>{{ careerStats.PPG }}</td>
                <td>{{ careerStats.RPG }}</td>
                <td>{{ careerStats.APG }}</td>
                <td>{{ careerStats.SPG }}</td>
                <td>{{ careerStats.BPG }}</td>
                <td>{{ careerStats.FGP }}</td>
                <td>{{ careerStats.TPP }}</td>
                <td>{{ careerStats.FTP }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Game Log</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Opponent</th>
                <th>Location</th>
                <th>Minutes</th>
                <th>FGA</th>
                <th>FGM</th>
                <th>3PA</th>
                <th>3PM</th>
                <th>FTA</th>
                <th>FTM</th>
                <th>PTS</th>
                <th>RBD</th>
                <th>ORB</th>
                <th>DRB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</td>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
            <tr>
                <td><a href="../schools/{{ line.opponent_id }}/{{ line.season }}">{{ line.opponent_id|get_school|format_school }}</td>
                <td>{{ line.location }}</td>
                <td>{{ line.minutes }}</td>
                <td>{{ line.fg_attempt }}</td>
                <td>{{ line.fg_made }}</td>
                <td>{{ line.three_attempt }}</td>
                <td>{{ line.three_made }}</td>
                <td>{{ line.ft_attempt }}</td>
                <td>{{ line.ft_made }}</td>
                <td>{{ line.pts }}</td>
                <td>{{ line.trb }}</td>
                <td>{{ line.orb }}</td>
                <td>{{ line.drb }}</td>
                <td>{{ line.ast }}</td>
                <td>{{ line.stl }}</td>
                <td>{{ line.blk }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}