<!DOCTYPE html>
{% load format_school %}
{% load get_school %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ player.name }}</title>
  </head>
  <body>
    <h1>{{ player.name }} | <a href="../schools/{{player.team_id|get_school}}">{{ player.team_id|get_school|format_school }}</a></h1>
    <table>
        <thead>
            <tr>
                <th>MPG</th>
                <th>PPG</th>
                <th>RPG</th>
                <th>APG</th>
                <th>SPG</th>
                <th>BPG</th>
                <th>FG%</th>
                <th>3P%</th>
                <th>FT%</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ stats.MPG }}</td>
                <td>{{ stats.PPG }}</td>
                <td>{{ stats.RPG }}</td>
                <td>{{ stats.APG }}</td>
                <td>{{ stats.SPG }}</td>
                <td>{{ stats.BPG }}</td>
                <td>{{ stats.FGP }}</td>
                <td>{{ stats.TPP }}</td>
                <td>{{ stats.FTP }}</td>
            </tr>
        </tbody>
    </table>
    <h2>Game Log</h2>
    <table>
        <thead>
            <tr>
                <th>Opponent</th>
                <th>Location</th>
                <th>Minutes</th>
                <th>FGA</th>
                <th>FGM</th>
                <th>3PA</th>
                <th>3PM</th>
                <th>FTA</th>
                <th>FTM</th>
                <th>PTS</th>
                <th>RBD</th>
                <th>ORB</th>
                <th>DRB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</td>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
            <tr>
                <td>{{ line.opponent_id|get_school|format_school }}</td>
                <td>{{ line.location }}</td>
                <td>{{ line.minutes }}</td>
                <td>{{ line.fg_attempt }}</td>
                <td>{{ line.fg_made }}</td>
                <td>{{ line.three_attempt }}</td>
                <td>{{ line.three_made }}</td>
                <td>{{ line.ft_attempt }}</td>
                <td>{{ line.ft_made }}</td>
                <td>{{ line.pts }}</td>
                <td>{{ line.trb }}</td>
                <td>{{ line.orb }}</td>
                <td>{{ line.drb }}</td>
                <td>{{ line.ast }}</td>
                <td>{{ line.stl }}</td>
                <td>{{ line.blk }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>