<!DOCTYPE html>
{% load format_school %}
{% load format_conference %}
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ team.name|format_school }}</title>
  </head>
  <body>
    <h1>{{ team.name|format_school }} | <a href="../conferences/{{conference_id}}">{{ conference }}</a></h1>
    <table>
        <thead>
            <th>Season</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Conf. Wins</th>
            <th>Conf. Losses</th>
        </thead>
        <tbody>
            {% for record in records %}
                <tr>
                    <td><a href='./{{ team.id }}/{{ record.season }}'>{{ record.season }}</a></td>
                    <td>{{ record.wins }}</td>
                    <td>{{ record.losses }}</td>
                    <td>{{ record.confWins }}</td>
                    <td>{{ record.confLosses }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </body>
</html>